<div class="container" style="margin-top: 30px;">
  <div class="row form-group">
    <div class="col-xs-12 col-md-offset-2 col-lg-offset-2 col-md-8 col-lg-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <i>{{post.user_id}}</i> - <span>#Social-Media</span><span>#Web</span>
        </div>
        <div class="panel-image">
          <img src="{{post.url}}" class="panel-image-preview" />
          <!--<label for="toggle-1"></label>-->
          <h4>{{Title}}</h4>
          <p>{{Text}}</p>
        </div>
        <!--<input type="checkbox" id="toggle-1" class="panel-image-toggle">-->
        <div class="panel-footer clearfix">
          <a href="#download" class="btn btn-primary btn-sm btn-hover pull-left">Save <span class="fa fa-bookmark"></span></a>
          <a href="#facebook" class="btn btn-success btn-sm btn-hover pull-left" style="margin-left: 5px;">Shr <span class="glyphicon glyphicon-send"></span></a>
          <a class="btn comsys btn-danger btn-sm btn-hover pull-left" style="margin-left: 5px;">Cmt <span class="fa fa-comment"></span></a>
          <a href="#share" class="btn btn-warning btn-sm btn-hover pull-left" style="margin-left: 5px;">Like <span class="fa fa-thumbs-up"></span></a>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>
