<configuration>
    <system.webServer>
        <rewrite>
        <rules>
        <!--remaining all other url's point to index.html file -->
        <rule name="AngularJS Wildcard" enabled="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
        <action type="Rewrite" url="index.html" />
        </rule>
        </rules>
    </rewrite>
    </system.webServer>
</configuration>
